@import "components/tree";
@import "components/basket";
@import "components/apples";
@import "components/button";

@import "pages/index";

@import "normalize-scss";
@include normalize();

body {
  background: #587958;
  height: 100vh;
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  button {
    margin-top: 180px;
    width: 250px;
  }
  .graund {
    width: 550px;
  }
  .body {
    overflow: auto;
  }
  .container {
    background-color: #587958;
  }
}
