@import "components/tree";
@import "components/basket";
@import "components/apples";
@import "components/button";

@import "pages/index";

@import "normalize-scss";
@include normalize();

body {
  background: #587958;
  height: 100vh;
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
}
