@import "components/tree";
@import "components/basket";
@import "components/apples";
@import "components/button";

@import "pages/index";

@import "normalize-scss";
@include normalize();

body {
  background: #587958;
}
* {
  box-sizing: border-box;
}

@media screen and (max-height: 800px) {
  .container {
    background-color: #587958;
    margin-top: 100px;
  }
}
