.apple {
  position: absolute;
  background-color: #e40000;
  z-index: 6;
  width: 40px;
  height: 38px;
  border-radius: 55% 57% 40% 42% / 64% 65% 70% 68%;
  border-right: 1px solid #e40000;
  transition: all 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.apple::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 20px;
  background: #000000;
  top: -14px;
  left: 20px;
  border-radius: 50%;
  transform: rotate(30.43deg);
}

.p1 {
  top: 380px;
  left: 380px;
}
.p1-dropped {
  top: 740px;
  left: 380px;
}

.p2 {
  top: 300px;
}
.p2-dropped {
  top: 740px;
}
.shake-apple {
  animation: shake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}
@keyframes shake-apple {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
