button {
  position: absolute;
  width: 442px;
  height: 113px;
  z-index: 5;
  background: #570e58;
  border-radius: 14px;

  font-family: Myanmar Sangam MN;
  font-style: normal;
  font-weight: bold;
  font-size: 67px;
  line-height: 100px;
  letter-spacing: 0.4em;
  transform: translateY(-400px);
  color: #ffffff;
}
